spring:
  datasource:
    url: jdbc:mysql://localhost:3306/order-db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: user-app
    password: secret-app
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        use_sql_comments: true

logging.level.org.springframework.orm.jpa.JpaTransactionManager: DEBUG
logging.level.org.hibernate.resource.transaction: DEBUG
