spring:
  datasource:
    url: jdbc:mysql://localhost:3306/order-db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: user-app
    password: secret-app
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
#    defer-datasource-initialization: true # data.sql 을 Hibernate 스키마 생성 이후에 실행
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        use_sql_comments: true
  data:
    redis:
      host: localhost
      port: 6379
#  sql:
#    init:
#      mode: always
#      data-locations: classpath:sql/data.sql

#logging.level.org.springframework.orm.jpa.JpaTransactionManager: DEBUG
#logging.level.org.hibernate.resource.transaction: DEBUG


# retry, circuitbreaker
resilience4j:
  retry:
    instances:
      pointApiRetry:
        maxAttempts: 3
        waitDuration: 500ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - java.lang.Exception
        ignoreExceptions: # 재시도가 필요없는 예외
          - org.springframework.web.client.HttpClientErrorException.NotFound
          - org.springframework.web.client.HttpClientErrorException.BadRequest
      productApiRetry:
        maxAttempts: 3
        waitDuration: 500ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - java.lang.Exception
        ignoreExceptions: # 재시도가 필요없는 예외
          - org.springframework.web.client.HttpClientErrorException.NotFound
          - org.springframework.web.client.HttpClientErrorException.BadRequest

  circuitbreaker:
    instances:
      pointApiCb:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        automaticTransitionFromOpenToHalfOpenEnabled: true
      productApiCb:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        automaticTransitionFromOpenToHalfOpenEnabled: true